Suma en notebooks

In [1]:
1+1

2

# Titulo

el titulo se inicia con un "#" espacio y la palabra

## Subtitulo

el subtitulo se inicia con un "##" espacio y la palabra

## Imprimir CÃ“DIGO

In [3]:
X="felo one crew"

In [5]:
print(X)

felo one crew

## Hacer Tablas

In [11]:
import pandas as pd

tabla= pd.DataFrame(data =[[1,1],[2,3],[5,3]],
                    
                    columns = ['Numero', 'cuadrado'])
tabla

   Numero  cuadrado
0       1         1
1       2         3
2       5         3